
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index,follow"/>
  <meta name="description" content=""/>
  <meta name="KEYWORDS" content=""/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="twitter:image" content="http://placekitten.com/250/250">
  <meta property="og:title" content="Southpaw Brave Test" />
  <meta property="og:image" content="http://southpawagency.com/bravetest/start/images/ThumbnailImage.jpg" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:width" content="1280" />
  <meta property="og:image:height" content="720" />
  <meta property="og:description" content="How Brave are you? Take the 3-minute Southpaw Brave Test to find out." /


  <link rel="shortcut icon" href="http://lab.southpawagency.com/_global_styles/images/favicon.ico?v=2">
  <title>Brave test</title>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.3/angular.min.js"></script>
    <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="dist/html2canvas.js"></script>

    <script src="js/scripts.js"></script>
    <script src="js/chart.js"></script>
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/unslider.css" />
  <link rel="stylesheet" href="css/styles.css" />
  <link rel="stylesheet" href="css/transition.css" />
  <link rel="stylesheet" href="css/cs-select.css" />
  <link rel="stylesheet" href="css/cs-skin-border.css" />
  <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <style>
  form {
    display: none;
}
  </style>
</head>

<body ng-app="MyApp">
  <header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">

    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li> <a href="#/">Login</a>
                </li>
                <li> <a href="#/register">Register</a>
                </li>
                <li> <a href="#/profile">Profile</a>
                </li>
                <li> <a href="#/quiz">Quiz</a>
                </li>
                <li> <a href="#/info">Info</a>
                </li>
                <li class="pull-right"> <a href="#/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="logo text-center" id="#logo">
    <a href="../"><img src="http://southpawagency.com/assets/img/banner/southpaw.svg" alt="Southpaw"></a>
</div><!-- /logo -->

<div class="cd-transition-layer">
    <div class="bg-layer"></div>
</div> <!-- .cd-transition-layer -->


            <!-- QUIZ CONTROLLER -->
            <div ng-controller="Questionnaire" class="container questionnaire ng-scope">

                <div id="" class="container">
                    <!-- LOGIN -->


                    <form id="frmLogin" role="form" autocomplete="off">
                             <h4 class="loginHeader">LOGIN WITH</h4>
                             <a href="#" class="cd-modal-trigger btn btn-primary bt-social socialButton" data-provider="facebook" class=“ng-cloak”>FACEBOOK</a>
                             <a href="#" class="cd-modal-trigger btn btn-info bt-social socialButton" data-provider="twitter" class=“ng-cloak”>TWITTER</a>
                             <a href="#/register" class="cd-modal-trigger btn btn-warning socialButton registerButton">REGISTER</a>
                        <div class="form-group">
                            <input type="email" class="form-control firebase-input" id="txtEmail" placeholder="Enter email" name="email" autocomplete="off"/>
                        </div>
                        <div class="form-group">

                            <input type="password" class="form-control firebase-input" id="txtPass" placeholder="Password" name="password" autocomplete="off"/>
                        </div>
                        <button type="submit" class=" btn loginButton">LOGIN</button>
                        <div class="socialContainer">
                        </div>


                    </form>
                    <!-- / LOGIN -->
                    <!-- LOGOUT -->
                    <form id="frmLogout" role="form">
                         <h2>You are logged out!</h2>

                    </form>
                    <!-- / LOGOUT -->
                    <!-- REGISTER -->
                    <form id="frmRegister" role="form">
                         <!-- <h4 class="registerHeader">REGISTER</h4> -->

                        <div class="form-group">
                            <input type="email" class="form-control firebase-input" id="txtEmail" placeholder="Enter email" name="email" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control firebase-input" id="txtPass" placeholder="Password" name="password" />
                        </div>
                        <button type="submit" class="btn loginButton">REGISTER</button>
                    </form>
                    <!-- / REGISTER -->
                    <!-- PROFILE -->
                    <form id="frmProfile" role="form">

                    <p>Almost there...</br>Fill in these details while we work out your results.</p>

                    </form>

                    <!-- QUIZ -->
                    <form id="quizProfile" role="form" >

                        <!-- QUESTIONS -->
                        <div ng-show="!questionsDone" class="ng-cloak" class="cd-modal-trigger">
                        <div class="desc full-tile "><h1 class="questionFirstPart">{{source.questions[ questionNdx ].text}}</h1><h1 class="quote questionSecondPart">{{source.questions[ questionNdx ].text2}}</h1></div>
                        <span class="disagreeSpan">Disagree</span>
                        <a href="#" class="heat-high med-tile responseSelector" ng-class="{'active':selectedTab === 's-disagree'}" ng-click="selectedTab = 's-disagree'; onSelectResponse(0)"></a>
                        <a href="#" class="heat-med-high med-tile responseSelector" ng-class="{'active':selectedTab === 'disagree'}" ng-click="selectedTab = 'disagree'; onSelectResponse(1)"></a>
                        <a href="#" class="heat-med med-tile responseSelector" ng-class="{'active':selectedTab === 'neutral'}" ng-click="selectedTab = 'neutral'; onSelectResponse(2)"></a>
                        <a href="#" class="heat-med-low med-tile responseSelector" ng-class="{'active':selectedTab === 'agree'}" ng-click="selectedTab = 'agree'; onSelectResponse(3)"></a>
                        <a href="#" class="heat-low med-tile responseSelector" ng-class="{'active':selectedTab === 's-agree'}" ng-click="selectedTab = 's-agree'; onSelectResponse(4)"></a>
                        <span class="agreeSpan">Agree</span>
                        <br/>
                        <button class="btn btn-primary next-button nextbtn" ng-click="onConfirmResponse(); selectedTab = ''">NEXT</button>
                        </div>


                        <!-- PROFILE -->
                        <!-- <p ng-show="profileQuestionsDone" class="profileQuestions">Almost there...</br>Just answer these 5 quick questions to see how you compare with the rest.</p> -->

                        <div ng-show="profileQuestionsDone">

                            <div class="row top infographics-holder">
                                <div class="col-md-3 age">
                                    <div class="row infographic"><img class="infographic-img" src=""></div>
                                        <div class="age-slider">
                                            <input id="age-slider-text" type="tel" id ="textInput" maxlength="2"  value="018" maxlength="3" size="3" oninput="setLinearGradient(this)">
                                            <input id="age-slider" type="range"  min="18" max="100" step="1" class="slider" step = "any" value="18" oninput="setLinearGradient(this)" >
                                        </div>
                                        <p>Drag bar to select your age</p>
                                </div>
                                <div class="col-md-3 gender">
                                    <div class="row infographic"><img class="infographic-img" src=""></div>
                                    <p class="gender-p">What gender do you identify with?</p>
                                    <ol class="grades notClicked">
                                      <li>
                                         <input id="a" type="checkbox" name="A" value="A" onclick="javascript:uncheckB(this);" />
                                         <label id="a-input" class="button" for="a" onclick="">F</label>
                                      </li>
                                      <li>
                                         <input id="b" type="checkbox" name="b" value="B" onclick="javascript:uncheckA(this);" />
                                         <label id="b-input" class="button" for="b" onclick="">M</label>
                                      </li>
                                    </ol>

                                </div>
                                <div class="col-md-3 occupation">
                                  <div class="row infographic"><img class="infographic-img" src=""></div>
                                         <select class="cs-select cs-skin-border occupation notClicked">
                                           <option value="" disabled selected>Occupation</option>
                                           <option value="Advertising">Advertising</option>
                                           <option value="Agriculture and Horticulture">Agriculture and Horticulture</option>
                                           <option value="Arts, Audio/Video Technology and Communications">Arts, Audio/Video Tech and Communications</option>
                                           <option value="Business Management and Administration">Business Management and Admin</option>
                                           <option value="Education and Training">Education and Training</option>
                                           <option value="Finance">Finance</option>
                                           <option value="Government and Public Administration">Government and Public Admin</option>
                                           <option value="Health Services">Health Services</option>
                                           <option value="Hospitality and Tourism">Hospitality and Tourism</option>
                                           <option value="Human Services">Human Services</option>
                                           <option value="Information Technology">Information Technology</option>
                                           <option value="Law, Public Safety, Corrections and Security">Law, Public Safety, Corrections and Security</option>
                                           <option value="Manufacturing">Manufacturing</option>
                                           <option value="Marketing, Sales and Service">Marketing, Sales and Service</option>
                                           <option value="Science, Technology, Engineering and Mathematics">Science, Technology, Engineering and Maths</option>
                                           <option value="Transportation">Transportation</option>
                                           <option value="Other">Other</option>
                                          </select>
                                          <select class="cs-select cs-skin-border education notClicked">
                                            <option value="" disabled selected>Education</option>
                                            <option value="Primary School">Primary School</option>
                                            <option value="Secondary School">Secondary School</option>
                                            <option value="Higher Education">Higher Education</option>
                                            <option value="Apprenticeship or Internship">Apprenticeship or Internship</option>
                                            <option value="Undergraduate Degree">Undergraduate Degree</option>
                                            <option value="Master's Degree">Master's Degree</option>
                                            <option value="Doctorate">Doctorate</option>
                                            <option value="No Schooling">No Schooling</option>
                                            <option value="Prefer not to say">Prefer not to say</option>
                                          </select>
                                          <select class="cs-select cs-skin-border lifestyle notClicked">
                                            <option value="" disabled selected>Life Stage</option>
                                            <option value="Young Adults">Young Adults</option>
                                            <option value="Families With Children">Families With Children</option>
                                            <option value="Mid-Life No Children">Mid-Life No Children</option>
                                            <option value="Empty Nesters">Empty Nesters</option>
                                            <option value="Retirees">Retirees</option>
                                            <option value="Unclassified">Unclassified</option>
                                          </select>
                                </div>
                                <div class="col-md-3 news">
                                  <div class="row infographic"><img class="infographic-img" src="images/infographics/6.png"></div>
                                          <select class="cs-select cs-skin-border news notClicked">
                                          <option value="" disabled selected>Favourite News Source</option>
                                            <option value="Daily Telegraph">Daily Telegraph</option>
                                            <option value="Financial Times">Financial Times</option>
                                            <option value="The Times">The Times</option>
                                            <option value="The Guardian">The Guardian</option>
                                            <option value="The Independent">The Independent</option>
                                            <option value="Daily Mail">Daily Mail</option>
                                            <option value="Daily Express">Daily Express</option>
                                            <option value="The Sun">The Sun</option>
                                            <option value="Daily Mirror">Daily Mirror</option>
                                            <option value="Daily Star">Daily Star</option>
                                            <option value="BBC News Website">BBC News Website</option>
                                            <option value="Channel 4 News Website">Channel 4 News Website</option>
                                            <option value="Metro">Metro</option>
                                            <option value="Buzzfeed">Buzzfeed</option>
                                            <option value="Mashable">Mashable</option>
                                            <option value="Twitter">Twitter</option>
                                            <option value="Huffington Post">Huffington Post</option>
                                            <option value="Vice">Vice</option>
                                          </select>
                                </div>
                            </div>

                            <div class="row infographics-holder2 margin-top">


                                <div class="col-md-3 spend">
                                  <p>Spend it all or Save it all?</p>
                                  <div class="row infographic"><img class="game-picture infographic-img" alt="Spend/Save" id="select-game-picture" src="images/infographics/7a.png"></div>
                                  <select class="cs-select cs-skin-border money" id="select-games" onchange="changeImage()">
                                    <option value="7a">Spend it all</option>
                                    <option value="7b">Save it all</option>
                                    </select>
                                </div>


                                <div class="col-md-3 slap">
                                  <p>Slap or Tickle?</p>
                                  <div class="row infographic"><img class="game-picture infographic-img" alt="Slap/Tickle" id="select-game-picture2" src="images/infographics/8a.png"></div>
                                  <select class="cs-select cs-skin-border slap" id="select-games2" onchange="changeImage2()">
                                    <option value="8a">Slap</option>
                                    <option value="8b">Tickle</option>
                                  </select>
                                </div>


                                <div class="col-md-3 aliens">
                                  <p>Do you believe in Aliens?</p>
                                  <div class="row infographic"><img class="game-picture infographic-img" alt="No/Yes" id="select-game-picture3" src="images/infographics/9a.png"></div>
                                  <select class="cs-select cs-skin-border aliens" id="select-games3" onchange="changeImage3()">
                                    <option value="9a">Yes</option>
                                    <option value="9b">No</option>
                                  </select>
                                </div>

                                <div class="col-md-3 eat">
                                  <p>You are what you eat or YOLO?</p>
                                  <div class="row infographic"><img class="game-picture infographic-img" alt="Eat/Yolo" id="select-game-picture4" src="images/infographics/10a.png"></div>
                                  <select class="cs-select cs-skin-border eating" id="select-games4" onchange="changeImage4()">
                                    <option value="10a">You are what you eat</option>
                                    <option value="10b">YOLO</option>
                                  </select>
                                </div>
                            </div>

                            <button class="btn btn-primary next-button nextbtn" ng-click="onSubmitForm();">NEXT</button>

                        </div>


                        <!-- <div ng-show="profileQuestionsDone">
                        <a href="#" class="profileSelector" ng-click="onSelectProfileResponse(1)">{{source.profileQuestions[ profileQuestionNdx ].optionLeft}}</a>
                        <a href="#" class="profileSelector" ng-click="onSelectProfileResponse(2)">{{source.profileQuestions[ profileQuestionNdx ].optionRight}}</a>
                        </div> -->
                        <!-- <a href="#/info" class="cd-modal-trigger btn quizbtn" ng-show="profileQuestionsDone">VIEW RESULTS</a> -->


                        <!-- RESULTS -->
                        <div ng-show="isDone" class="cd-modal-trigger ng-cloak resultsContainer">

                          <div class="col-md-12" id="braveResults">
                          <div class="braveScore col-md-6">
                            <h1>You're <span id="braveScore"><span class="count">{{braveScore}}</span>%</span> brave</h1>
                          </div>
                          <div class="braveSentences col-md-6">
                               <div ng-repeat="category in source.categories" class="delay">

                                    <div ng-show="isCategoryHigh($index)" class="desc message-tile ">
                                       <p>{{source.categoryMessages[$index].high}}</p>
                                    </div>

                                    <div ng-show="isCategoryMedHigh($index)" class="desc message-tile">
                                       <p>{{source.categoryMessages[$index].medHigh}}</p>
                                    </div>

                                    <div ng-show="isCategoryMedLow($index)" class="desc message-tile">
                                       <p>{{source.categoryMessages[$index].medLow}}</p>
                                    </div>

                                    <div ng-show="isCategoryLow($index)" class="desc message-tile">
                                       <p>{{source.categoryMessages[$index].low}}</p>
                                    </div>

                               </div>
                          </div>
                          </div>





                          <div class="col-md-12">
                                <div class="row infographic-text score-block">
                                  <div id="sharePage" class="sharePage">
                                      <ul class="shareIcons">
                                      <li class="fb"><a class="popup" href=""></a></li>
                                      <li class="tw"><a class="popup" href=""></a></li>
                                      </ul>
                                  </div>
                                </div>
                                <div class="button-holder">
                                    <a href="#/info" class="cd-modal-trigger btn quizbtn" ng-click="onConfirmResults();">NEXT</a>
                                </div>
                          </div>

                        </div>

                    </form>

                    <!-- SHARE PAGE -->
                    <form id="sharePage">
                        <h1>Thanks for taking part in the <strong>Southpaw</strong> Brave Test</h1>
                        <h2>Share your results with your friends!</h2>
                        <ul class="shareIcons">
                        <li class="fb"><a class="popup" href=""></a></li>
                        <li class="tw"><a class="popup" href=""></a></li>
                        </ul>
                        <p>If you want to know more about Southpaw - The Home of the Brave, follow us on social media or visit <a href="http://southpawagency.com">www.southpawagency.com</a>.</p>
                        <a href="../index.php" class="cd-modal-trigger btn quizbtn" style="text-decoration:none;">RESTART</a>
                    </form>

                    <!-- INFOGRAPHICS -->
                    <form id="infoProfile" role="form" ng-show="profileInfo" class="col-md-12">
                        <!-- <a href="javascript:void(0);" tabindex="-1"><span class="i">Average brave score: <span id="infoOverallAvg"></span>%</span></a><br/> -->

                        <div class="row top infographics-holder">
                            <div class="col-md-7">
                              <div id="ageChart" class="margin-top"></div>
                                    <div class="col-md-12">
                                        <div class="row age-row">
                                            <div class="inner">
                                                <span class="age1">15-24</span>
                                                <span class="age2">25-34</span>
                                                <span class="age3">35-44</span>
                                                <span class="age4">45-54</span>
                                                <span class="age5">55-64</span>
                                                <span class="age6">65+</span>
                                            </div>
                                        </div>
                                     </div>
                            </div>
                              <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                            <img class="info-8a" src="images/infographics/8a.png">
                            <img class="info-8b" src="images/infographics/8b.png">
                            <div id="slapChart" class="margin-top"></div>
                            <h4 class="SlapTickleTag"><span id="slapValueP"></span>% of brave people prefer a <span id="slapValue"></span></h4>
                            </div>

                        </div>

                        <div class="row top infographics-holder margin-top">
                            <div class="col-md-4">
                                <img class="info-7a" src="images/infographics/7a.png">
                                <img class="info-7b" src="images/infographics/7b.png">
                                <div id="moneyChart"></div>
                            <h4 class="SpendSaveTag"><span id="moneyValueP"></span>% of brave people would <span id="moneyValue"></span></h4>
                            </div>
                              <div class="col-md-1">
                            </div>
                            <div class="col-md-7 alienYOLOGraphs">
                              <img class="info-9a" src="images/infographics/9a-D.png">
                              <img class="info-9b" src="images/infographics/9b-D.png">
                              <img class="info-10a" src="images/infographics/10a-D.png">
                              <img class="info-10b" src="images/infographics/10b-D.png">
                            <h4 class="alien-stat"><span id="alienValueP"></span>% of brave people <span id="alienValue"></span> believe in Aliens</h4>
                              <div id="alienChart"></div>
                            <h4 class="eating-stat"><span id="eatingValueP"></span>% of brave people <span id="eatingValue"></span></h4>
                            </div>
                        </div>

                        <div class="row top infographics-holder last-row margin-top">
                            <div class="col-md-7">
                            <!-- <h4>How Brave are the readers of..</h4> -->
                                <div id="newsChart"></div>

                                    <div class="col-sm-12 newsLegends">
                                      <div class="row age-row news-row">
                                          <div class="inner desktop">
                                            <span id="newsColumnOne"></span>
                                            <span id="newsColumnTwo"></span>
                                            <span id="newsColumnThird"></span>
                                            <span id="newsColumnFourth"></span>
                                            <span id="newsColumnFith"></span>
                                          </div>
                                          <div class="inner mobile">
                                            <span id="newsColumnOneMob">1</span>
                                            <span id="newsColumnTwoMob">2</span>
                                            <span id="newsColumnThirdMob">3</span>
                                            <span id="newsColumnFourthMob">4</span>
                                            <span id="newsColumnFithMob">5</span>

                                          </div>
                                      </div>
                                     </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4">
                                <div class="row infographic-text">
                                  <!-- <img class="info-gender" src="images/infographics/gender.png"> -->
                                  <!-- <div id="genderChart"></div> -->
                                  <div id="genderGauge"></div>
                                  <div class="row genderLegend">
                                    <div class="inner">
                                      <img class="image-keys" src="images/infographics/female-key.png"/><h5 style="text-align: left;">Females are <span id="femaleAvBravescore"></span>% brave</h5>
                                      <br/>
                                      <img class="image-keys" src="images/infographics/male-key.png"/><h5 style="text-align: left;">Males are <span id="maleAvBravescore"></span>% brave</h5>
                                  </div>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="row infographics-holder margin-top share-block">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 shareInfographic">
                                <div class="row infographic-text">

                                  <div id="sharePage" class="sharePage">
                                      <h1>Thanks for taking part in the <strong>Southpaw</strong> Brave Test</h1>
                                      <h2>Share your results with your friends!</h2>
                                      <ul class="shareIcons">
                                      <li class="fb"><a href="http://test.com" class="popup"></a></li>
                                      <li class="tw"><a href="http://test.com" class="popup"></a></li>
                                      </ul>
                                      <p>If you want to know more about Southpaw - The Home of The Brave, follow us on social media or visit <a href="http://southpawagency.com">www.southpawagency.com</a>.</p>
                                  </div>

                                  <div class="button-holder">
                                    <a href="../index.php" class="cd-modal-trigger btn quizbtn" ng-click="">RESTART</a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>

                        <div class="row infographics-holder margin-top default-block">
                            <div class="col-md-1"></div>
                            <div class="col-md-10 shareInfographic">
                                <div class="row infographic-text">

                                  <div id="sharePage" class="sharePage">
                                      <h1>How brave are you?</h1>
                                      <h2>Test your friends!</h2>
                                      <ul class="shareIcons">
                                      <li class="fb"><a href="https://www.facebook.com/dialog/feed?app_id=1707512429512286&redirect_uri=http://southpawagency.com/bravetest/close.html&link=http://southpawagency.com/bravetest&picture=http://southpawagency.com/bravetest/start/images/ThumbnailImage.jpg&title=Southpaw%20Brave%20Test&description=How%20brave%20are%20you?%20Take%20the%20test%20here." class="popup"></a></li>
                                      <li class="tw"><a href="https://twitter.com/intent/tweet?text=How%20brave%20are%20you?%20Take%20the%20test%20here%3A%20http%3A//southpawagency.com/bravetest/" class="popup"></a></li>
                                      </ul>
                                      <p>If you want to know more about Southpaw - The Home of The Brave, follow us on social media or visit <a href="http://southpawagency.com">www.southpawagency.com</a>.</p>
                                  </div>

                                  <div class="button-holder">
                                    <a href="../index.php" class="cd-modal-trigger btn quizbtn" ng-click="">START TEST</a>
                                  </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                        </div>


                    </form>




            </div>

            <!-- Cache images -->
            <div style="display:none;">
              <img src="images/Question1.jpg">
              <img src="images/Question2.jpg">
              <img src="images/Question3.jpg">
              <img src="images/Question4.jpg">
              <img src="images/Question5.jpg">
              <img src="images/Question6.jpg">
              <img src="images/Question7.jpg">
              <img src="images/Question8.jpg">
              <img src="images/Question9.jpg">
              <img src="images/Question10.jpg">
              <img src="images/ResultsPageAventurer.jpg">
              <img src="images/ResultsPageLeader.jpg">
              <img src="images/ResultsPageProtector.jpg">
              <img src="images/ResultsPageScientist.jpg">
              <img src="images/Questionnaire Rock_Electronic.jpg">
              <img src="images/Questionnaire Cheddar_Blue.jpg">
              <img src="images/FarewellPage.jpg">
              <img src="images/InfoPage.jpg">
              <img src="images/fx/Question_underline.png">
              <img src="images/fx/Question_underlineLong.png">
              <img src="images/fx/Question_underlineLong2.png">
              <img src="images/fx/Question_underlineShort.png">
              <img src="images/ink.png">
            </div>

</div>
    <script src="js/auth.js"></script>
    <script src="js/app.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/selectFx.js"></script>
        <script type="text/javascript">

          WebFontConfig = {
            google: { families: [ 'Oswald::latin' ] }
          };
          (function() {
            var wf = document.createElement('script');
            wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
          })();

          $("input[type='text']").bind('focus', function() {
               $(this).css('background-color', 'white');
            });

          </script>

          <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '1707512429512286',
                xfbml      : true,
                version    : 'v2.6'
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = "//connect.facebook.net/en_US/sdk.js";
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
          </script>

          <script>
            (function() {
              [].slice.call( document.querySelectorAll( 'select.cs-select' ) ).forEach( function(el) {
                new SelectFx(el);
              } );
            })();
          </script>

          <script type="text/javascript">


          function changeImage() {

            var gameValue = document.getElementById("select-games").value;

            document.getElementById("select-game-picture").src = "images/infographics/" + gameValue + ".png";
            console.log("image changed");
          }

          function changeImage2() {

            var gameValue = document.getElementById("select-games2").value;

            document.getElementById("select-game-picture2").src = "images/infographics/" + gameValue + ".png";
            console.log("image changed");
          }

          function changeImage3() {

            var gameValue = document.getElementById("select-games3").value;

            document.getElementById("select-game-picture3").src = "images/infographics/" + gameValue + ".png";
            console.log("image changed");
          }

          function changeImage4() {

            var gameValue = document.getElementById("select-games4").value;

            document.getElementById("select-game-picture4").src = "images/infographics/" + gameValue + ".png";
            console.log("image changed");
          }

          $('.spend .cs-options ul li').click(function(event) {
            changeImage();
          });

          $('.slap .cs-options ul li').click(function(event) {
            changeImage2();
          });

          $('.aliens .cs-options ul li').click(function(event) {
            changeImage3();
          });

          $('.eat .cs-options ul li').click(function(event) {
            changeImage4();
          });



          function setLinearGradient(elm) {
              $('.age-slider').removeClass('notClicked');
              if($(elm).attr('type') == 'range') {
                var rangeElm = $(elm);
                var textElm = $('#' + rangeElm.attr('id') + '-text');
                if (rangeElm.val() == 100) {
                  textElm.val(rangeElm.val());
                } else {
                  textElm.val("0" + rangeElm.val());
                }


              } else {
                var textElm = $(elm);
                var rangeElm = $('#' + textElm.attr('id').substr(00,  textElm.attr('id').length-5));
                if (rangeElm.val() == 100) {
                  textElm.val(rangeElm.val());
                } else {
                  textElm.val("0" + rangeElm.val());
                }
              }
              var min =rangeElm.attr('min');
              var max = rangeElm.attr('max');
              var value = ((rangeElm.val() - min) * 100) / (max-min);
          }

          </script>


          <script type="text/javascript">

             function uncheckA(obj)
                      {

                          if (obj.checked == true)
                          {
                              document.getElementById("a").checked = false;

                              $("#b-input").addClass('check-selected');
                              $("#a-input").removeClass('check-selected');
                              $('.grades').removeClass('notClicked');
                              $('.gender-p').css("color","white");
                          }
                      }

              function uncheckB(obj)
                      {

                          if (obj.checked == true)
                          {
                              document.getElementById("b").checked = false;

                              $("#a-input").addClass('check-selected');
                              $("#b-input").removeClass('check-selected');
                              $('.grades').removeClass('notClicked');
                              $('.gender-p').css("color","white");
                          }
                      }
          </script>

          <script type="text/javascript">





          </script>

</body>
</html>
