
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="robots" content="index,follow"/>
	<meta name="description" content=""/>
	<meta name="KEYWORDS" content=""/>
    <link rel="shortcut icon" href="http://lab.southpawagency.com/_global_styles/images/favicon.ico?v=2">
	<title>Brave test</title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.1.3/angular.min.js"></script>
	<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/styles.css" />
	<style>
	form {
    display: none;
}
	</style>
</head>

<body ng-app="MyApp" class="ng-scope">
	<header class="navbar navbar-static-top navbar-inverse" id="top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse"> <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li> <a href="#/">Login</a>
                </li>
                <li> <a href="#/register">Register</a>
                </li>
                <!-- <li> <a href="#/profile">Profile</a>
                </li> -->
                <li> <a href="#/quiz">Quiz</a>
                </li>
                <li class="pull-right"> <a href="#/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </div>
</header>


            <!-- QUIZ CONTROLLER -->
            <div ng-controller="Questionnaire" class="container questionnaire ng-scope">

                <div id="container" class="container">
                    <!-- LOGIN -->
                    <form id="frmLogin" role="form">
                         <h2>Login</h2>

                        <div class="form-group">
                            <label for="txtEmail">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="txtPass">Password</label>
                            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-default btn-block">Login</button>
                        <br />
                        <br />
                         <h4>Login with</h4>
                 <a href="#" class="btn btn-primary bt-social" data-provider="facebook">Facebook</a>
                 <a href="#" class="btn btn-info bt-social" data-provider="twitter">Twitter</a>

                        <!-- <a href="#" class="btn btn-danger bt-social" data-provider="google">Google+</a> --> <a href="#" class="btn btn-default bt-social" data-provider="github">GitHub</a>
                 <a href="#" class="btn btn-warning" id="btAnon">Anon</a>

                    </form>
                    <!-- / LOGIN -->
                    <!-- LOGOUT -->
                    <form id="frmLogout" role="form">
                         <h2>You are logged out!</h2>

                    </form>
                    <!-- / LOGOUT -->
                    <!-- REGISTER -->
                    <form id="frmRegister" role="form">
                         <h2>Register</h2>

                        <div class="form-group">
                            <label for="txtRegEmail">Email address</label>
                            <input type="email" class="form-control" id="txtEmail" placeholder="Enter email" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="txtRegPass">Password</label>
                            <input type="password" class="form-control" id="txtPass" placeholder="Password" name="password" />
                        </div>
                        <button type="submit" class="btn btn-default">Register</button>
                    </form>
                    <!-- / REGISTER -->
                    <!-- PROFILE -->
                    <form id="frmProfile" role="form" ng-show="profileInfo">
                            <!-- ALERT BOX -->
                            <!-- <div id="alert" class="alert" role="alert">
                                 <h4 id="alert-title">You are not logged in</h4>

                                <p id="alert-detail"></p>
                            </div> -->
                            <!-- / ALERT BOX -->

												<p>Answer these 5 quick questions to see how you compare to the other {{braveCategory}}s.</p>

												<div>
                        <a href="#" class="heat-high med-tile responseSelector" ng-click="onSelectProfileResponse(1)">{{source.profileQuestions[ profileQuestionNdx ].optionLeft}}</a>
                        <a href="#" class="heat-med-high med-tile responseSelector" ng-click="onSelectProfileResponse(2)">{{source.profileQuestions[ profileQuestionNdx ].optionRight}}</a>
                        </div>
                        <!--    <div class="form-group">
                            <label for="txtName">Name</label>
                            <input type="text" class="form-control" id="txtName" placeholder="Name" name="name" />
                        </div>
                        <div class="form-group">
                            <label for="ddlDino">Favorite Dinosaur</label>
                            <select id="ddlDino" name="favoriteDinosaur" class="form-control">
                                <option>None</option>
                                <option>Pteranodon</option>
                                <option>Lambeosaurus</option>
                                <option>Stegosaurus</option>
                                <option>Daspletosaurus</option>
                            </select>
                        </div> -->
                        <!-- <button type="submit" class="btn btn-primary" ng-click="quizStart()">Start Quiz</button> -->
                    </form>

                    <!-- QUIZ -->
                    <form id="quizProfile" role="form" ng-show="profileInfo">

                        <!-- QUESTIONS -->
                        <div ng-show="!questionsDone" class="ng-cloak">
                        <div class="desc full-tile">{{source.questions[ questionNdx ].text}}</div>
                        <span class="disagreeSpan">Disagree</span>
                        <a href="#" class="heat-high med-tile responseSelector" ng-class="{'active':selectedTab === 's-disagree'}" ng-click="selectedTab = 's-disagree'; onSelectResponse(1)"></a>
                        <a href="#" class="heat-med-high med-tile responseSelector" ng-class="{'active':selectedTab === 'disagree'}" ng-click="selectedTab = 'disagree'; onSelectResponse(2)"></a>
                        <a href="#" class="heat-med med-tile responseSelector" ng-class="{'active':selectedTab === 'neutral'}" ng-click="selectedTab = 'neutral'; onSelectResponse(3)"></a>
                        <a href="#" class="heat-med-low med-tile responseSelector" ng-class="{'active':selectedTab === 'agree'}" ng-click="selectedTab = 'agree'; onSelectResponse(4)"></a>
                        <a href="#" class="heat-low med-tile responseSelector" ng-class="{'active':selectedTab === 's-agree'}" ng-click="selectedTab = 's-agree'; onSelectResponse(5)"></a>
                        <span class="agreeSpan">Agree</span>
                        <br/>
                        <button class="btn btn-primary btn-lg next-button" ng-click="onConfirmResponse(); selectedTab = ''">Next</button>
                        </div>

                        <!-- RESULTS -->
                        <div ng-show="isDone" class="ng-cloak">
                            <div ng-repeat="category in source.categories">
                                <!-- <div class="info-tile">{{category}}</div>
                                <div ng-show="isCategoryLeader($index)" class="score-tile">{{results.categories[$index] | number:1}}</div>
                                <div ng-show="isCategoryAdventurer($index)" class="score-tile">{{results.categories[$index] | number:1}}</div>
                                <div ng-show="isCategoryScientist($index)" class="score-tile">{{results.categories[$index] | number:1}}</div>
                                <div ng-show="isCategoryProtector($index)" class="score-tile">{{results.categories[$index] | number:1}}</div>
                                <div style="clear:both;"></div> -->
                                <div ng-show="isCategoryLeader($index)" class="desc message-tile">
																	<h1>You're a {{source.categoryMessages[$index].leader}}</h1>
																	<p>Lead the way my friend, it’s what you were born to do. Be the black sheep, zag where others zig and pave the way for a brighter, more exciting future.</p>
																</div>
                                <div ng-show="isCategoryAdventurer($index)" class="desc message-tile">
																	<h1>You're a {{source.categoryMessages[$index].adventurer}}</h1>
																	<p>If there's a different way to look at something, you'll find it. You'll take the risks that others won't and work tirelessly to create something truly original.</p>
																</div>
                                <div ng-show="isCategoryScientist($index)" class="desc message-tile">
																	<h1>You're a {{source.categoryMessages[$index].scientist}}</h1>
																	<p>Yeah, science! You're like a combination of Walter White and Einstein! With the bravery to do things your own way and the furious curiosity to question everything, you're certainly not afraid to rock the boat.</p>
																</div>
                                <div ng-show="isCategoryProtector($index)" class="desc message-tile">
																	<h1>You're a {{source.categoryMessages[$index].protector}}</h1>
																	<p>You don't need your name up in lights. You're a humble hero and team player who knows how to get the best out of those around you, even if that means taking a back seat yourself.</p>
																</div>
                            </div>
                            <a href="#/profile" class="btn quizbtn">Next</a>
                        </div>

                        <!-- SHARE PAGE -->
                        <div ng-show="shareShow" class="ng-cloak share">
                                <h1>SHARE PAGE</h1>
                        </div>


                    </form>



            </div>

						<!-- Cache images -->
						<div style="display:none;">
							<img src="images/Question1.jpg">
							<img src="images/Question2.jpg">
							<img src="images/Question3.jpg">
							<img src="images/Question4.jpg">
							<img src="images/Question5.jpg">
							<img src="images/Question6.jpg">
							<img src="images/Question7.jpg">
							<img src="images/Question8.jpg">
							<img src="images/Question9.jpg">
							<img src="images/Question10.jpg">
						</div>

</div>
		<script src="js/auth.js"></script>
		<script src="js/app.js"></script>
</body>
</html>
